<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" media="screen" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github Ynov</title>
</head>

<body>
    <div id="demo">
        <nav class="navbar navbar-light bg-light">
                
            <a class="navbar-brand" href="#">
                <img src="logo.png" width="70px" height="auto">
                
            
            <h1>Application Github Ynov</h1></a>
        </nav>
        <div class="row" id="formulaire">
            

            

            <div class="col">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <p>Choix des comptes</p>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="form-check" v-for="user in users">
                        <input class="form-check-input" type="checkbox" v-model="checkedNames"
                            v-bind:value="user.value">
                        <label class="form-check-label" >
                            {{user.value}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="col">
                <label for="periodchoice" class="Paramlabel">Choix de la période</label>
                <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="fa fa-calendar"></i>
                    <span  ></span> <i  class="fa fa-caret-down"></i>
                </div>
            </div>

            <div class="col">
                <label for="projectchoice" class="Paramlabel">Choix du projet</label>
                <div>
                    <select class="form-control btn-primary" id="Formcontroller" v-model="selected"  data-live-search=”true”>
                        <option v-for="projet in projets" v-bind:value="projet.value">
                            {{ projet.value }}
                        </option>
                    </select>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <button type="submit" class="btn btn-secondary" v-on:click="fetchData" id="submit-button">Valider</button>
            </div>
            <div class="col-2"></div>
        </div>

        <div v-for="result in resultliste">
            <div class="card">
                <h2 class="card-header">
                    {{result[0].html_url.split("/")[3]}}
                    <a :href="'https://github.com/' + result[0].html_url.split('/')[3] + '/' + selected" class="btn btn-primary">Projet Github</a>
                </h2>
                <div class="card-body">
                    <div>
                        <ul>
                            <li v-for="record in result">
                                <img :src="record.author.avatar_url" width="50" height="50">
                                - <a class="message" :href="record.html_url" target="_blank">{{ record.commit.message | truncate }}</a>
                                par <span class="author"><a :href="record.author.html_url" target="_blank">{{
                                        record.commit.author.name }}</a></span>
                                le <span class="date">{{ record.commit.author.date | formatDate }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <script src="app.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

</body>
</html>