@font-face {
  font-family: 'code_bold'; /*a name to be used later*/
  src: url('font/CODE\ Bold.otf'); /*URL to font*/
}
@font-face {
  font-family: 'code_light'; /*a name to be used later*/
  src: url('font/CODE\ Light.otf'); /*URL to font*/
}
#demo {
    font-family: 'Helvetica', Arial, sans-serif;
  }
a {
    text-decoration: none;
    color: #e94e6d;
  }
#gittitle{
    margin-left: 32px;
    font-family: 'code_bold' !important;
    font-size: 3rem !important
  }
h1{
  display: inline;
  font-family: 'code_light' !important
}


.li-result {
    line-height: 1.5em;
    margin-bottom: 20px;
    list-style-type: none;

  }
.author, .date {
    font-weight: bold;
  }

#dropdownMenuButton {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #e94e6d;
  border-color: #e94e6d;
}
.btn-primary{
  background-color: #23b2a4 !important;
  border-color: #23b2a4 !important;
}
.reportrange{
  height: 50%;
}
.Formcontroller{
  height: 50%;
}

.erreurliste{
  display: inline
}

.alert{
  margin-top: 10px
}
.Paramlabel{
  height: 30%;
  margin-top: 10px;
  display: block;
  text-align: center;
}
#checkAllLabel{
  font-weight: bold
}
#reportrange{
  border-radius: .25rem
}

.card{
  margin-top: 20px
}

#submit-button{
  margin-top: 10px;
  width: 100%
}

.ranges li.active{
  background-color: #23b2a4 !important
}
.daterangepicker td.in-range{
  background-color: rgba(211, 211, 211, 0.418) !important
}
.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: #e94e6d !important
}

.card-body a{
  color: #5a6268
}

#br-card-header{
  display: none
}

.octicon{
  display: none
}

.form-check{
  margin-bottom: 4px;
  margin-left: 4px
}

.dropdown-menu{
  transform: translate3d(20px, 84px, 0px) !important;
}

/* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
  #dropdownMenuButton {
    width: 100vw;
  }

  .dropdown-menu{
    width: 50vw;
  }
}

/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
  #dropdownMenuButton {
    width: 100vw;
  }

  h1{
    font-size: 1.5rem !important
  }

  #reportrange{
    width: 100vw !important
  }

  #br-card-header{
    display: initial
  }

  .dropdown-menu{
    width: 98vw;
    }
}



